In [31]:
import psycopg
import pandas as pd
from getpass import getpass
from sqlalchemy.orm import Session
from sqlalchemy import Text, create_engine

In [37]:
#check_in:
pw = getpass('Please enter password: ')

with psycopg.connect(
    host='localhost',
    port='5432',
    user='postgres',
    password=pw,
    dbname='musikdaten',
    autocommit=True
) as connection:
    print("psycopg connected!")

# connection SQLAlchemy:
pw = getpass('Please enter password: ')

connection_url = f'postgresql://postgres:{pw}@localhost:5432/musikdaten'
engine = create_engine(connection_url)

# check connection:
with engine.connect() as conn_alchemy:
    print("SQLAlchemy connected!")

psycopg connected!
SQLAlchemy connected!

In [6]:
data = pd.read_csv(r'C:\Users\Admin\Documents\Projektwoche_SQL\Projektwoche_SQL\src\database\spotify_songs.csv')

data

,track_id,track_name,track_artist,track_popularity,track_album_id,track_album_name,track_album_release_date,playlist_name,playlist_id,playlist_genre,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms
0,6f807x0ima9a1j3VPbc7VN,I Don't Care (with Justin Bieber) - Loud Luxur...,Ed Sheeran,66,2oCs0DGTsRO98Gh5ZSl2Cx,I Don't Care (with Justin Bieber) [Loud Luxury...,2019-06-14,Pop Remix,37i9dQZF1DXcZDD7cfEKhW,pop,...,6,-2.634,1,0.0583,0.102000,0.000000,0.0653,0.5180,122.036,194754
1,0r7CVbZTWZgbTCYdfa2P31,Memories - Dillon Francis Remix,Maroon 5,67,63rPSO264uRjW1X5E6cWv6,Memories (Dillon Francis Remix),2019-12-13,Pop Remix,37i9dQZF1DXcZDD7cfEKhW,pop,...,11,-4.969,1,0.0373,0.072400,0.004210,0.3570,0.6930,99.972,162600
2,1z1Hg7Vb0AhHDiEmnDE79l,All the Time - Don Diablo Remix,Zara Larsson,70,1HoSmj2eLcsrR0vE9gThr4,All the Time (Don Diablo Remix),2019-07-05,Pop Remix,37i9dQZF1DXcZDD7cfEKhW,pop,...,1,-3.432,0,0.0742,0.079400,0.000023,0.1100,0.6130,124.008,176616
3,75FpbthrwQmzHlBJLuGdC7,Call You Mine - Keanu Silva Remix,The Chainsmokers,60,1nqYsOef1yKKuGOVchbsk6,Call You Mine - The Remixes,2019-07-19,Pop Remix,37i9dQZF1DXcZDD7cfEKhW,pop,...,7,-3.778,1,0.1020,0.028700,0.000009,0.2040,0.2770,121.956,169093
4,1e8PAfcKUYoKkxPhrHqw4x,Someone You Loved - Future Humans Remix,Lewis Capaldi,69,7m7vv9wlQ4i0LFuJiE2zsQ,Someone You Loved (Future Humans Remix),2019-03-05,Pop Remix,37i9dQZF1DXcZDD7cfEKhW,pop,...,1,-4.672,1,0.0359,0.080300,0.000000,0.0833,0.7250,123.976,189052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32828,7bxnKAamR3snQ1VGLuVfC1,City Of Lights - Official Radio Edit,Lush & Simon,42,2azRoBBWEEEYhqV6sb7JrT,City Of Lights (Vocal Mix),2014-04-28,♥ EDM LOVE 2020,6jI1gFr6ANFtT8MmTvA2Ux,edm,...,2,-1.814,1,0.0936,0.076600,0.000000,0.0668,0.2100,128.170,204375
32829,5Aevni09Em4575077nkWHz,Closer - Sultan & Ned Shepard Remix,Tegan and Sara,20,6kD6KLxj7s8eCE3ABvAyf5,Closer Remixed,2013-03-08,♥ EDM LOVE 2020,6jI1gFr6ANFtT8MmTvA2Ux,edm,...,0,-4.462,1,0.0420,0.001710,0.004270,0.3750,0.4000,128.041,353120
32830,7ImMqPP3Q1yfUHvsdn7wEo,Sweet Surrender - Radio Edit,Starkillers,14,0ltWNSY9JgxoIZO4VzuCa6,Sweet Surrender (Radio Edit),2014-04-21,♥ EDM LOVE 2020,6jI1gFr6ANFtT8MmTvA2Ux,edm,...,6,-4.899,0,0.0481,0.108000,0.000001,0.1500,0.4360,127.989,210112
32831,2m69mhnfQ1Oq6lGtXuYhgX,Only For You - Maor Levi Remix,Mat Zo,15,1fGrOkHnHJcStl14zNx8Jy,Only For You (Remixes),2014-01-01,♥ EDM LOVE 2020,6jI1gFr6ANFtT8MmTvA2Ux,edm,...,2,-3.361,1,0.1090,0.007920,0.127000,0.3430,0.3080,128.008,367432
32832,29zWqhca3zt5NsckZqDf6c,Typhoon - Original Mix,Julian Calor,27,0X3mUOm6MhxR7PzxG95rAo,Typhoon/Storm,2014-03-03,♥ EDM LOVE 2020,6jI1gFr6ANFtT8MmTvA2Ux,edm,...,5,-4.571,0,0.0385,0.000133,0.341000,0.7420,0.0894,127.984,337500

In [7]:
select_artist ='SELECT track_artist as name from "spotify_songs"';
select_artist

'SELECT track_artist as name from "spotify_songs"'

In [8]:
dataframe = pd.read_sql(select_artist, engine)
dataframe

                   name
0            Ed Sheeran
1              Maroon 5
2          Zara Larsson
3      The Chainsmokers
4         Lewis Capaldi
...                 ...
32819      Lush & Simon
32820    Tegan and Sara
32821       Starkillers
32822            Mat Zo
32823      Julian Calor

[32824 rows x 1 columns]

In [17]:
dataframe.to_sql("artist", engine)

824

In [9]:
select_genre ='SELECT playlist_genre, playlist_subgenre from "spotify_songs"';
select_genre

'SELECT playlist_genre, playlist_subgenre from "spotify_songs"'

In [13]:
dataframe = pd.read_sql(select_genre, engine)
dataframe

      playlist_genre          playlist_subgenre
0                pop                  dance pop
1                pop                  dance pop
2                pop                  dance pop
3                pop                  dance pop
4                pop                  dance pop
...              ...                        ...
32819            edm  progressive electro house
32820            edm  progressive electro house
32821            edm  progressive electro house
32822            edm  progressive electro house
32823            edm  progressive electro house

[32824 rows x 2 columns]

In [1]:
dataframe.to_sql("genre", engine)

NameError: name 'dataframe' is not defined

In [14]:
select_additional_information ='SELECT mode, tempo, key from "spotify_songs"';
select_additional_information

'SELECT mode, tempo, key from "spotify_songs"'

In [15]:
dataframe = pd.read_sql(select_additional_information, engine)
dataframe

      mode    tempo key
0        1  122.036   6
1        1   99.972  11
2        0  124.008   1
3        1  121.956   7
4        1  123.976   1
...    ...      ...  ..
32819    1   128.17   2
32820    1  128.041   0
32821    0  127.989   6
32822    1  128.008   2
32823    0  127.984   5

[32824 rows x 3 columns]

In [ ]:
dataframe.to_sql("additional_information", engine)

In [16]:
select_rhythmic_features ='SELECT energy, tempo, danceability from "spotify_songs"';
select_rhythmic_features

'SELECT energy, tempo, danceability from "spotify_songs"'

In [17]:
dataframe = pd.read_sql(select_rhythmic_features, engine)
dataframe

      energy    tempo danceability
0      0.916  122.036        0.748
1      0.815   99.972        0.726
2      0.931  124.008        0.675
3       0.93  121.956        0.718
4      0.833  123.976         0.65
...      ...      ...          ...
32819  0.922   128.17        0.428
32820  0.786  128.041        0.522
32821  0.821  127.989        0.529
32822  0.888  128.008        0.626
32823  0.884  127.984        0.603

[32824 rows x 3 columns]

In [ ]:
dataframe.to_sql("rhythmic_features", engine)

In [21]:
select_sound_attributes =('SELECT speechiness,'
                          ' acousticness,'
                          ' instrumentalness,'
                          ' liveness,'
                          ' valence,'
                          ' loudness from "spotify_songs"');
select_sound_attributes

'SELECT speechiness, acousticness, instrumentalness, liveness, valence, loudness from "spotify_songs"'

In [22]:
dataframe = pd.read_sql(select_sound_attributes, engine)
dataframe

      speechiness acousticness instrumentalness liveness valence loudness
0          0.0583        0.102                0   0.0653   0.518   -2.634
1          0.0373       0.0724          0.00421    0.357   0.693   -4.969
2          0.0742       0.0794          2.33e-5     0.11   0.613   -3.432
3           0.102       0.0287          9.43e-6    0.204   0.277   -3.778
4          0.0359       0.0803                0   0.0833   0.725   -4.672
...           ...          ...              ...      ...     ...      ...
32819      0.0936       0.0766                0   0.0668    0.21   -1.814
32820       0.042      0.00171          0.00427    0.375     0.4   -4.462
32821      0.0481        0.108          1.11e-6     0.15   0.436   -4.899
32822       0.109      0.00792            0.127    0.343   0.308   -3.361
32823      0.0385      1.33e-4            0.341    0.742  0.0894   -4.571

[32824 rows x 6 columns]

In [ ]:
dataframe.to_sql("sound_attributes", engine)

In [23]:
select_track_information ='SELECT track_album_release_date from "spotify_songs"';
select_track_information

'SELECT track_album_release_date from "spotify_songs"'

In [24]:
dataframe = pd.read_sql(select_track_information, engine)
dataframe

      track_album_release_date
0                   2019-06-14
1                   2019-12-13
2                   2019-07-05
3                   2019-07-19
4                   2019-03-05
...                        ...
32819               2014-04-28
32820               2013-03-08
32821               2014-04-21
32822               2014-01-01
32823               2014-03-03

[32824 rows x 1 columns]

In [ ]:
dataframe.to_sql("track_information", engine)

In [25]:
select_title = '''SELECT a.artist_id, g.genre_id, s.track_name,
-- Berechnung der Dauer in Minuten:Sekunden (Format: MM:SS)
    TO_CHAR(FLOOR(CAST(s.duration_ms AS INTEGER) / 60000), 'FM00') || ':' ||
    TO_CHAR(FLOOR((CAST(s.duration_ms AS INTEGER) % 60000) / 1000), 'FM00') AS duration,  -- Minuten:Sekunden
    CAST(s.duration_ms AS INTEGER) AS duration_ms  -- Umwandlung von Text in Integer
FROM spotify_songs s
LEFT JOIN artist a ON s.track_artist = a.name
LEFT JOIN genre g ON s.playlist_genre = g.genre AND s.playlist_subgenre = g.subgenre;'''

select_title

"SELECT a.artist_id, g.genre_id, s.track_name,\n-- Berechnung der Dauer in Minuten:Sekunden (Format: MM:SS)\n    TO_CHAR(FLOOR(CAST(s.duration_ms AS INTEGER) / 60000), 'FM00') || ':' ||\n    TO_CHAR(FLOOR((CAST(s.duration_ms AS INTEGER) % 60000) / 1000), 'FM00') AS duration,  -- Minuten:Sekunden\n    CAST(s.duration_ms AS INTEGER) AS duration_ms  -- Umwandlung von Text in Integer\nFROM spotify_songs s\nLEFT JOIN artist a ON s.track_artist = a.name\nLEFT JOIN genre g ON s.playlist_genre = g.genre AND s.playlist_subgenre = g.subgenre;"

In [26]:
dataframe = pd.read_sql(select_title, engine)
dataframe

TypeError: sqlalchemy.cyextension.immutabledict.immutabledict is not a sequence

In [ ]:
dataframe.to_sql("title", engine)

In [27]:
select_rating ='SELECT track_popularity from "spotify_songs"';
select_rating

'SELECT track_popularity from "spotify_songs"'

In [28]:
dataframe = pd.read_sql(select_rating, engine)
dataframe

      track_popularity
0                   66
1                   67
2                   70
3                   60
4                   69
...                ...
32819               42
32820               20
32821               14
32822               15
32823               27

[32824 rows x 1 columns]

In [ ]:
dataframe.to_sql("rating", engine)

In [29]:
select_album ='SELECT track_album_name from "spotify_songs"';
select_album

'SELECT track_album_name from "spotify_songs"'

In [30]:
dataframe = pd.read_sql(select_album, engine)
dataframe

                                        track_album_name
0      I Don't Care (with Justin Bieber) [Loud Luxury...
1                        Memories (Dillon Francis Remix)
2                        All the Time (Don Diablo Remix)
3                            Call You Mine - The Remixes
4                Someone You Loved (Future Humans Remix)
...                                                  ...
32819                         City Of Lights (Vocal Mix)
32820                                     Closer Remixed
32821                       Sweet Surrender (Radio Edit)
32822                             Only For You (Remixes)
32823                                      Typhoon/Storm

[32824 rows x 1 columns]

In [ ]:
dataframe.to_sql("album", engine)

OperationalError: the connection is closed