In [1]:
import psycopg
import pandas as pd
from getpass import getpass
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import text

In [2]:
#check_in:
pw = getpass('Please enter password: ')
with psycopg.connect(
    host='localhost',
    port='5432',
    user='postgres',
    password=pw,
    dbname='musikdaten',
    autocommit=True
) as connection:
    print("psycopg connected!")

# connection SQLAlchemy:
pw = getpass('Please enter password: ')

connection_url = f'postgresql://postgres:{pw}@localhost:5432/musikdaten'
engine = create_engine(connection_url)

# check connection:
with engine.connect() as conn_alchemy:
    print("SQLAlchemy connected!")

psycopg connected!
SQLAlchemy connected!

In [36]:
data = pd.read_csv(r'/Projektwoche_SQL/src/database/spotify_songs.csv')
data.to_sql('spotify_songs', con=engine, if_exists='replace', index=False)
data
print("Daten erfolgreich eingelesen")

Daten erfolgreich eingelesen

In [41]:
select_artist ='SELECT track_artist as name from "spotify_songs"';

In [42]:
dataframe = pd.read_sql(select_artist, engine)
dataframe

                   name
0            Ed Sheeran
1              Maroon 5
2          Zara Larsson
3      The Chainsmokers
4         Lewis Capaldi
...                 ...
32828      Lush & Simon
32829    Tegan and Sara
32830       Starkillers
32831            Mat Zo
32832      Julian Calor

[32833 rows x 1 columns]

In [39]:
dataframe.to_sql("artist", engine)
print("Tabelle 'artist' wurde erstellt")

ValueError: Table 'artist' already exists.

In [43]:
select_genre ='''SELECT DISTINCT spotify_songs.playlist_genre, spotify_songs.playlist_subgenre
FROM spotify_songs;'''

In [92]:
dataframe = pd.read_sql(select_genre, engine)
dataframe

   playlist_genre          playlist_subgenre
0            rock             permanent wave
1             rap           southern hip hop
2             edm                   big room
3           latin                   tropical
4             r&b             new jack swing
5           latin                  latin pop
6             pop            indie poptimism
7            rock                  hard rock
8             edm  progressive electro house
9            rock               classic rock
10           rock                 album rock
11            pop              post-teen pop
12            r&b                   neo soul
13            pop                 electropop
14            edm              electro house
15            r&b                    hip pop
16            rap               gangster rap
17          latin                  reggaeton
18            pop                  dance pop
19            rap                       trap
20            r&b         urban contemporary
21          latin              latin hip hop
22            rap                    hip hop
23            edm                    pop edm

In [93]:
dataframe.to_sql("genre", engine)
print("Tabelle 'genre' wurde erstellt")

Tabelle 'genre' wurde erstellt

In [26]:
select_title ="""
SELECT
    a.artist_id,
    g.genre_id,
    s.track_name,
    (s.duration_ms / 60000) AS duration_minutes,
    (s.duration_ms % 60000) / 1000 AS duration_seconds,
    s.duration_ms AS duration_ms
FROM spotify_songs s
LEFT JOIN artist a ON s.track_artist = a.name
LEFT JOIN genre g ON s.playlist_genre = g.genre AND s.playlist_subgenre = g.subgenre;
"""
dataframe = pd.read_sql(select_title, engine)
dataframe

TypeError: sqlalchemy.cyextension.immutabledict.immutabledict is not a sequence

In [27]:
dataframe.to_sql("title", engine)
print("Tabelle 'artist' wurde erffolgreich eingelesen")

NameError: name 'dataframe' is not defined

In [28]:
select_album = '''SELECT DISTINCT s.track_album_name
FROM spotify_songs s
LEFT JOIN artist a ON s.track_album_name = a.name;'''

In [29]:
dataframe = pd.read_sql(select_album, engine)
dataframe

                               track_album_name
0                             Vallenato Apretao
1                      The Marshall Mathers LP2
2                                       Parcels
3      I Want You (Forever) [Josh Butler Remix]
4                                    La FÃ³rmula
...                                         ...
19737                             Delta Machine
19738     Wisin Vs Yandel "Los Extraterrestres"
19739                   Here comes the Triple C
19740                              Strange Fire
19741                                     Swass

[19742 rows x 1 columns]

In [30]:
dataframe.to_sql("album", engine)

ValueError: Table 'album' already exists.

In [106]:
select_additional_information = '''SELECT DISTINCT ON (t.title_id) t.title_id, s.key, s.mode
FROM spotify_songs s
JOIN title t ON s.track_name = t.name
ORDER BY t.title_id, s.key, s.mode, s.tempo;'''

In [107]:
dataframe = pd.read_sql(select_additional_information, engine)
dataframe

ProgrammingError: (psycopg2.errors.UndefinedTable) FEHLER:  Relation Â»titleÂ« existiert nicht
LINE 3: JOIN title t ON s.track_name = t.name
             ^

[SQL: SELECT DISTINCT ON (t.title_id) t.title_id, s.key, s.mode
FROM spotify_songs s
JOIN title t ON s.track_name = t.name
ORDER BY t.title_id, s.key, s.mode, s.tempo;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [102]:
dataframe.to_sql("additional_information", engine)
print("Tabelle 'additional_information' wurde erfolgreich geladen")

TypeError: NDFrame.to_sql() missing 1 required positional argument: 'con'

In [36]:
select_rating ='''SELECT DISTINCT ON (t.title_id) t.title_id, s.track_popularity
FROM spotify_songs s
JOIN title t ON s.track_name = t.name;'''

In [37]:
dataframe = pd.read_sql(select_rating, engine)
dataframe

       title_id  track_popularity
0             1                 5
1             2                 5
2             3                38
3             4                48
4             5                52
...         ...               ...
32813     32820                26
32814     32821                36
32815     32822                37
32816     32823                26
32817     32824                38

[32818 rows x 2 columns]

In [91]:
dataframe.to_sql("track_rating")
print("Tabelle 'rating' wurde erfolgreich geladen")

In [39]:
select_rhythmic_features = '''SELECT DISTINCT ON (t.title_id) t.title_id, CAST(s.energy AS DOUBLE PRECISION), s.tempo, CAST(s.danceability AS DOUBLE PRECISION)
FROM spotify_songs s
JOIN title t ON s.track_name = t.name;
'''

In [40]:
dataframe = pd.read_sql(select_rhythmic_features, engine)
dataframe

       title_id  energy    tempo  danceability
0             1   0.574  104.995         0.583
1             2   0.455  105.222         0.592
2             3   0.807  142.799         0.298
3             4   0.851  117.004         0.702
4             5   0.831  104.971         0.709
...         ...     ...      ...           ...
32813     32820   0.782  155.912         0.554
32814     32821   0.934  124.988         0.711
32815     32822   0.861  132.065         0.721
32816     32823   0.597  143.943         0.389
32817     32824   0.569  105.014         0.826

[32818 rows x 4 columns]

In [30]:
dataframe.to_sql("rhythmic_features", engine)

ValueError: Table 'title' already exists.

In [42]:
select_sound_attributes = '''SELECT DISTINCT ON (t.title_id) t.title_id, s.speechiness, s.acousticness, s.instrumentalness, s.liveness, s.valence, s.loudness
FROM spotify_songs s
JOIN title t ON s.track_name = t.name;'''

In [43]:
dataframe = pd.read_sql(select_sound_attributes, engine)
dataframe

,title_id,speechiness,acousticness,instrumentalness,liveness,valence,loudness
0,1,0.0247,0.04610,0.000001,0.1960,0.636,-13.346
1,2,0.0239,0.02820,0.000002,0.1140,0.578,-9.044
2,3,0.0887,0.02770,0.001690,0.7420,0.463,-5.768
3,4,0.0407,0.00255,0.000059,0.3220,0.870,-5.747
4,5,0.0391,0.10800,0.001280,0.1590,0.866,-6.847
...,...,...,...,...,...,...,...
32813,32820,0.0367,0.19800,0.000000,0.0756,0.630,-2.927
32814,32821,0.0588,0.04450,0.000009,0.0537,0.866,-0.700
32815,32822,0.0847,0.15100,0.000000,0.1180,0.640,-4.870
32816,32823,0.0308,0.53400,0.406000,0.1440,0.506,-8.436
32817,32824,0.0473,0.28700,0.000491,0.0449,0.555,-7.180

In [ ]:
dataframe.to_sql("sound_attributes", engine)

In [45]:
select_track_information ='''SELECT DISTINCT ON (t.title_id)t.title_id, s.track_album_release_date
FROM spotify_songs s
JOIN title t ON s.track_name = t.name;'''

In [46]:
dataframe = pd.read_sql(select_track_information, engine)
dataframe

       title_id track_album_release_date
0             1               1985-06-25
1             2               1985-06-25
2             3               2005-11-04
3             4                     2013
4             5                     2013
...         ...                      ...
32813     32820               2020-01-08
32814     32821               2019-11-20
32815     32822               2019-01-23
32816     32823               2016-03-01
32817     32824               2020-01-01

[32818 rows x 2 columns]

In [47]:
dataframe.to_sql("track_information", engine)

818

In [ ]:
Set_Keys = '''
-- Primary Keys setzen
ALTER TABLE album ADD CONSTRAINT pk_album PRIMARY KEY (album_id);
ALTER TABLE artist ADD CONSTRAINT pk_artist PRIMARY KEY (artist_id);
ALTER TABLE genre ADD CONSTRAINT pk_genre PRIMARY KEY (genre_id);
ALTER TABLE title ADD CONSTRAINT pk_title PRIMARY KEY (title_id);
ALTER TABLE rhythmic_features ADD CONSTRAINT pk_rhythmic_features PRIMARY KEY (title_id);
ALTER TABLE sound_attributes ADD CONSTRAINT pk_sound_attributes PRIMARY KEY (title_id);
ALTER TABLE additional_information ADD CONSTRAINT pk_additional_information PRIMARY KEY (title_id);
ALTER TABLE track_information ADD CONSTRAINT pk_track_information PRIMARY KEY (title_id);
ALTER TABLE rating ADD CONSTRAINT pk_rating PRIMARY KEY (title_id);


-- Foreign Keys setzen

ALTER TABLE title
    ADD CONSTRAINT fk_title_artist FOREIGN KEY (artist_id) REFERENCES artist(artist_id),
    ADD CONSTRAINT fk_title_genre FOREIGN KEY (genre_id) REFERENCES genre(genre_id),
    ADD CONSTRAINT fk_title_title FOREIGN KEY (title_id) REFERENCES additional_information(title_id);
ALTER TABLE rating
      ADD CONSTRAINT fk_rating_title FOREIGN KEY (title_id) REFERENCES title(title_id);
ALTER TABLE artist
    ADD CONSTRAINT fk_artist_album FOREIGN KEY (album_id) REFERENCES album(album_id);

ALTER TABLE additional_information
    ADD CONSTRAINT fk_additional_information_title FOREIGN KEY (title_id) REFERENCES track_information(title_id);

ALTER TABLE track_information
    ADD CONSTRAINT fk_track_information_title FOREIGN KEY (title_id) REFERENCES rhythmic_features(title_id);

ALTER TABLE rhythmic_features
    ADD CONSTRAINT fk_rhythmic_features_title FOREIGN KEY (title_id) REFERENCES sound_attributes(title_id);
'''

In [6]:
from sqlalchemy import create_engine
import pandas as pd
import os
from flask.cli import load_dotenv

# Laden der Umgebungsvariablen
load_dotenv(r'/Projektwoche_SQL/.env')

# Verbindung mit SQLAlchemy herstellen
try:
    engine = create_engine(
        f"postgresql+psycopg://{os.getenv('user')}:{os.getenv('password')}@{os.getenv('host')}:{os.getenv('port')}/{os.getenv('dbname')}"
    )
    print("Verbindung erfolgreich hergestellt")
except Exception as e:
    print(f"Fehler beim Herstellen der Verbindung: {e}")
    engine = None

# Beispielhafte SQL-Abfrage
query = "SELECT * FROM spotify_songs;"

# Laden der Daten in einen DataFrame mit SQLAlchemy
if engine:
    try:
        df = pd.read_sql_query(query, engine)
        print(df.head())
    except Exception as e:
        print(f"Fehler bei der Abfrage: {e}")



# Beispielhafte SQL-Abfrage fÃ¼r die Songs-Tabelle
query = "SELECT * FROM spotify_songs;"

# Laden der Daten in einen DataFrame
df = pd.read_sql(query, engine )

print(df.head())

Verbindung erfolgreich hergestellt
                 track_id                                         track_name  \
0  6f807x0ima9a1j3VPbc7VN  I Don't Care (with Justin Bieber) - Loud Luxur...
1  0r7CVbZTWZgbTCYdfa2P31                    Memories - Dillon Francis Remix
2  1z1Hg7Vb0AhHDiEmnDE79l                    All the Time - Don Diablo Remix
3  75FpbthrwQmzHlBJLuGdC7                  Call You Mine - Keanu Silva Remix
4  1e8PAfcKUYoKkxPhrHqw4x            Someone You Loved - Future Humans Remix

       track_artist  track_popularity          track_album_id  \
0        Ed Sheeran                66  2oCs0DGTsRO98Gh5ZSl2Cx
1          Maroon 5                67  63rPSO264uRjW1X5E6cWv6
2      Zara Larsson                70  1HoSmj2eLcsrR0vE9gThr4
3  The Chainsmokers                60  1nqYsOef1yKKuGOVchbsk6
4     Lewis Capaldi                69  7m7vv9wlQ4i0LFuJiE2zsQ

                                    track_album_name track_album_release_date  \
0  I Don't Care (with Justin Bieber) [Loud Luxury...               2019-06-14
1                    Memories (Dillon Francis Remix)               2019-12-13
2                    All the Time (Don Diablo Remix)               2019-07-05
3                        Call You Mine - The Remixes               2019-07-19
4            Someone You Loved (Future Humans Remix)               2019-03-05

  playlist_name             playlist_id playlist_genre  ... key  loudness  \
0     Pop Remix  37i9dQZF1DXcZDD7cfEKhW            pop  ...   6    -2.634
1     Pop Remix  37i9dQZF1DXcZDD7cfEKhW            pop  ...  11    -4.969
2     Pop Remix  37i9dQZF1DXcZDD7cfEKhW            pop  ...   1    -3.432
3     Pop Remix  37i9dQZF1DXcZDD7cfEKhW            pop  ...   7    -3.778
4     Pop Remix  37i9dQZF1DXcZDD7cfEKhW            pop  ...   1    -4.672

   mode  speechiness  acousticness  instrumentalness  liveness  valence  \
0     1       0.0583        0.1020          0.000000    0.0653    0.518
1     1       0.0373        0.0724          0.004210    0.3570    0.693
2     0       0.0742        0.0794          0.000023    0.1100    0.613
3     1       0.1020        0.0287          0.000009    0.2040    0.277
4     1       0.0359        0.0803          0.000000    0.0833    0.725

     tempo  duration_ms
0  122.036       194754
1   99.972       162600
2  124.008       176616
3  121.956       169093
4  123.976       189052

[5 rows x 23 columns]
                 track_id                                         track_name  \
0  6f807x0ima9a1j3VPbc7VN  I Don't Care (with Justin Bieber) - Loud Luxur...
1  0r7CVbZTWZgbTCYdfa2P31                    Memories - Dillon Francis Remix
2  1z1Hg7Vb0AhHDiEmnDE79l                    All the Time - Don Diablo Remix
3  75FpbthrwQmzHlBJLuGdC7                  Call You Mine - Keanu Silva Remix
4  1e8PAfcKUYoKkxPhrHqw4x            Someone You Loved - Future Humans Remix

       track_artist  track_popularity          track_album_id  \
0        Ed Sheeran                66  2oCs0DGTsRO98Gh5ZSl2Cx
1          Maroon 5                67  63rPSO264uRjW1X5E6cWv6
2      Zara Larsson                70  1HoSmj2eLcsrR0vE9gThr4
3  The Chainsmokers                60  1nqYsOef1yKKuGOVchbsk6
4     Lewis Capaldi                69  7m7vv9wlQ4i0LFuJiE2zsQ

                                    track_album_name track_album_release_date  \
0  I Don't Care (with Justin Bieber) [Loud Luxury...               2019-06-14
1                    Memories (Dillon Francis Remix)               2019-12-13
2                    All the Time (Don Diablo Remix)               2019-07-05
3                        Call You Mine - The Remixes               2019-07-19
4            Someone You Loved (Future Humans Remix)               2019-03-05

  playlist_name             playlist_id playlist_genre  ... key  loudness  \
0     Pop Remix  37i9dQZF1DXcZDD7cfEKhW            pop  ...   6    -2.634
1     Pop Remix  37i9dQZF1DXcZDD7cfEKhW            pop  ...  11    -4.969
2     Pop Remix  37i9dQZF1DXcZDD7cfEKhW            pop  ...   1    -3.432
3     Pop Remix  37i9dQZF1DXcZDD7cfEKhW            pop  ...   7    -3.778
4     Pop Remix  37i9dQZF1DXcZDD7cfEKhW            pop  ...   1    -4.672

   mode  speechiness  acousticness  instrumentalness  liveness  valence  \
0     1       0.0583        0.1020          0.000000    0.0653    0.518
1     1       0.0373        0.0724          0.004210    0.3570    0.693
2     0       0.0742        0.0794          0.000023    0.1100    0.613
3     1       0.1020        0.0287          0.000009    0.2040    0.277
4     1       0.0359        0.0803          0.000000    0.0833    0.725

     tempo  duration_ms
0  122.036       194754
1   99.972       162600
2  124.008       176616
3  121.956       169093
4  123.976       189052

[5 rows x 23 columns]